<%= form_with(model: team, local: true) do |form| %>
  <% if team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% team.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nama_team %>
    <%= form.text_field :nama_team %>
  </div>

  <div class="field">
    <%= form.label :logo_team %>
    <%= form.text_field :logo_team %>
  </div>

  <div class="field">
    <%= form.label :alamat %>
    <%= form.text_area :alamat %>
  </div>

  <div class="field">
    <%= form.label :game %>
    <%= form.text_field :game %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_area :email %>
  </div>

  <div class="field">
    <%= form.label :manajer %>
    <%= form.text_field :manajer %>
  </div>

  <h3>Roosters</h3>

  <table class='table'>
    <thead>
      <tr>
        <th></th>
        <th>Task Name</th>
        <th>Completed</th>
      </tr>
    </thead>
    <tbody class='tasks'>
      <%= f.simple_fields_for :tasks do |builder| %>
        <%= render 'task_fields', f: builder %>
      <% end %>
    </tbody>

  </table>

  <div class="form-actions">
    <%= f.button :submit %>
    <%= link_to_add_association 'Add Task', f, :tasks, class: 'btn btn-primary', data: { association_insertion_node: '.tasks', association_insertion_method: :append } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
