<p id="notice"><%= notice %></p>

<h1>Teams</h1>

<table>
  <thead>
    <tr>
      <th>Nama team</th>
      <th>Logo team</th>
      <th>Alamat</th>
      <th>Game</th>
      <th>Email</th>
      <th>Manajer</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.nama_team %></td>
        <td><%= team.logo_team %></td>
        <td><%= team.alamat %></td>
        <td><%= team.game %></td>
        <td><%= team.email %></td>
        <td><%= team.manajer %></td>
        <td><%= link_to 'Show', team %></td>
        <td><%= link_to 'Edit', edit_team_path(team) %></td>
        <td><%= link_to 'Destroy', team, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Team', new_team_path %>
